
body{
    background: linear-gradient(to right, rgb(8, 8, 8), rgb(134, 9, 9));    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.abc{
    display: flex;
    flex-direction:none;
    justify-content: space-between;
    align-items: center;
    color: snow;
    width: 100%;
    text-align: center;
    background: rgb(153, 29, 29);
    padding: 1rem;
}


#img6{
    width: 60px;
}

.abc a{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 80px;

}

.abc a:hover{
    color: rgba(20, 22, 21, 0.897);
}
#wed{
    background: url(../../gomycode/res/jj2.png) no-repeat center center/cover;
    height: 100vh;
}
#tyu{
    background: url(../../gomycode/res/jj1.jpeg) no-repeat center center/cover;
    height: 100vh;
}

#ghj{
    background: url(../../gomycode/res/sss2_files/987987.png) no-repeat center center/cover;
    height: 100vh;


}
h2{
    text-align: center;
    font-size: 50px;
}
p{
    border-block-end-color: seashell ;
}

#bg{
    background: url(../res/pg.png) center center/cover;
    height: 80vh;
    z-index: 3;
    width: 100%;
    padding: 200px; 
    font-size: 50px;
}
#bg2{
    background: url(../res/pg.png) center center/cover;
    height: 80vh;
    z-index: 3;
    width: 100%;
    padding: 200px;
    font-size: 50px;
    
    
}
#pg9{
color: rgb(255, 253, 253);
text-align: center;
}
button:hover{
    border-color: rgb(136, 255, 0);
color: chocolate;    
    background-color: rgba(201, 33, 223, 0.925);

}
#j96{
    background: rgb(129, 45, 11);
    border-radius: 3em;
    font-size: 20px;
    width: 8%;
    height: 8vh;
    ;
}
.ooo1{
    width: 15%;
    height: 5vh;
    border-radius: 2em;
}
.y89{
    width: 5%;
    height: 5vh;
    border-radius: 2em;
}
#txt{
    border-radius: 1em;
    font-size: 20px;
    
}
